*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Home section  Top Banner Start */
.topFixedBanner{
    background-image: url("../image/bg.jpg");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.topBannerOverlay{
    position: absolute;
    min-height: 500px;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
}
.topContent{
    margin-top: 10rem;
}
.topTitle{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: white;
    font-size: 48px;
}

.topSubTitle{
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    color: white;
    font-size: 22px;
}
/* Home section  Top Banner End */

/* My Services start */

.serviceHeadingTitle{
    color: #0073e6;
    margin-top: 5rem;
    margin-bottom: 3rem;
    font-family: 'Montserrat', sans-serif;
    font-size: 28px;
    font-weight: 600;
    text-transform: uppercase;
}
.serviceTitle{
    margin-top: 1rem;
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    font-weight: 600;

}
.serviceDesc{
    color: rgb(95, 95, 95);
    margin-top: 1rem;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 400;

}

.serviceImage{
    width: 80px;
    height: 100px;
}

.serviceCard{
    margin: 5px;
    height: 22rem;
    padding: 60px 30px;
    box-shadow: 0 0 8px 0 rgba(0, 115, 230, 0.2);
}
.serviceCard:hover{
    box-shadow: 0 0 30px 0 rgba(0, 115, 230, 0.2);
}

/* My Services End */


/* Navigation Bar Start */



.navLogoTitle{
    font-family: 'Montserrat', sans-serif;
    color: white !important;
    font-weight: 700;
    font-size: 24px;
}
.navLogoTitleScroll{
    font-family: 'Montserrat', sans-serif;
    color: #0073e6 !important;
    font-weight: 700;
    font-size: 24px;
}

.logoImg{
    width: 50px;
    height: 50px;
    margin-right: 5px;
}

.navBg{
    background-color: rgba(0, 0, 0, 0.0);
    transition: background-color 400ms linear;
    -o-transition: background-color 400ms linear;
    -moz-transition: background-color 400ms linear;
    -webkit-transition: background-color 400ms linear;
}
.navBgScroll{
    background-color: white;
    transition: background-color 400ms linear;
    -o-transition: background-color 400ms linear;
    -moz-transition: background-color 400ms linear;
    -webkit-transition: background-color 400ms linear;
}

.navItem{
    text-decoration: none !important;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: white;
    font-size: 16px;
    text-transform: uppercase;
}

.navItem:hover{
    color: #0073e6;
}
.navItem.active{
    color: #0073e6;
}

.navItemScroll{
    text-decoration: none !important;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    color: black !important;
    font-size: 16px;
    text-transform: uppercase;
}
.toggleColor{
    background-color: white !important;
}





/* Tecnology Used */

.desc{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color:black;
}


/* Summary start */
.summaryMargin{
    margin-top: 5rem;
}
.summaryBanner{
    background-image: url("../image/bg.jpg");
    min-height: 350px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.summaryBannerOverlay{
    position: absolute;
    min-height: 350px;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.summaryCount{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    color: white;
    font-size: 40px;
}
.summaryTotal{
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    color: white;
    font-size: 24px;
}
.bottomHr{
    border: 1.5px solid white;
}

.summarySection{
    margin-top: 16%;
}
.summaryBoxSec{
    margin-top: 13%;
}
.summaryColHeading{
    text-align: center;
}
/* Summary End */



/* Recent Project start */

.recentProCard{
    border-radius: 2px;
    border: none !important;
    margin: 5px;
    padding: 60px 30px;
    box-shadow: 0 0 8px 0 rgba(0, 115, 230, 0.2);
}
.recentProCard:hover{
    box-shadow: 0 0 30px 0 rgba(0, 115, 230, 0.2);
}
.recentProTitle{
    margin-top: 1rem;
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    font-weight: 600;

}
.recentProDesc{
    color: rgb(95, 95, 95);
    margin-top: 1rem;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 400;

}

.recentImg{
    width: 300px;
    height: 250px;
}
/* Recent Project end */


/* Our Cources start*/

.courcesImg{
    width: 100%;
    height: 12rem;
}
.courcesMargin{
    margin: 0.6rem;
}
.courcesDetails{
    text-decoration: none;
    font-size: 16px;
    font-weight: 700;
    font-family: 'Raleway', sans-serif;
}
.courcesTitle{
    font-size: 20px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}
.courcesDesc{
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    color: rgb(31, 31, 31);
}

/* Our Cources end*/

/* Video Start */
.videoCard{
    box-shadow: 0 0 8px 0 rgba(0, 115, 230, 0.2);
    padding: 6rem 3rem 6rem 3rem;
    margin: 50px auto;
}
.videoTitle{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    color: rgb(0, 115, 230);

}
.videoPlayBtn{
    color: rgb(0, 115, 230);
    font-size: 50px;
    cursor: pointer;
}
.videoDesc{
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    color: rgb(31, 31, 31);
}
/* Video Start */


/* Client review start */

.circleImg{
    margin: 0 auto;
    border-radius: 50%;
    border: 1px solid rgb(0, 115, 230);
    width: 100px;
    height: 100px;
}
/*  Client review end*/


/* Footer start */

.footerMarginTop{
    margin-top: 7rem;
}

.footerHeading{
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-weight: 700;

}
.footerDesc{
    line-height: 10px;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    color: black;

}
.footerIcon{
    line-height: 10px;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    color: rgb(0, 115, 230);
    font-weight: 700;
}

.footerBack{
    background: rgb(0, 115, 230);
    padding: 20px;
}
.copyDesc{
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 14px;
}
/* Footer End */


/* Page Top start */

.pageTopBanner{
    background-image: url("../image/bg.jpg");
    min-height: 250px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.pageTopBannerOverlay{
    position: absolute;
    min-height: 250px;
    width: 100%;
    background: rgba(0, 0, 0, 0.6);
}
.pageTopContent{
    margin-top: 8rem;
}

.topSubTitle{
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    color: white;
    font-size: 28px;
}

/* Page Top End */

/* Contact start */

.form-control:focus{
    border-radius: 2px !important;
    border-color: #0073e6 !important;
    box-shadow: 0 0 4px 0 rgba(0, 115, 230, 0.2) !important;
}







/* Refund Policy */

.refundDesc{
    text-decoration: none !important;
    line-height: 10px;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    color: black;
}

.refundDesc:hover{
    color: #0073e6;
}
.refundDesc.active{
    color: #0073e6;
}